@import 'mobile';



// Font
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");


// Color scheme

$primary-color: #1c3879;
$secondary-color: #607eaa;
$link: #eae3d2;
$Extra: #FA2FB5;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

// Starting

.body-background {
  background-color: $primary-color;

  nav{
    display: flex;
    justify-content: space-between;
    padding: 1% 3%;
    background-color: $secondary-color;
    flex-wrap: wrap;

    div{

    .text-logo{
      text-decoration: none;
      font-size: 35px;
      color: $link;

      @include mediaquery(phone){
        font-size: 25px;
      }
    }
    
    }

    .list{
      display: flex;
      list-style: none;
      justify-content: center;
      align-items: center;

      @include mediaquery(phone){

        display: none;
        width: 100%;
      
    

 
  }


      
    }
    .item{
      margin: 0px 13px;
      display: inline-block;
    }

    .link{
      text-decoration: none;
      color: $link;
      font-size: 23px;
      position: relative;padding: 2px;
  
    }

    .link::after{
      content: "";
      background: $link;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0%;
      transition: all 250ms ease-in-out;
   

    }

    .link:hover::after{
      width: 100%;
      left: 0%;

    }

    #icon{
      color: $link;
      display: none;

      @include mediaquery(phone){
       display: block;
       margin-top: 6px;
       font-size: 25px;
       cursor: pointer;
      }
    }



  }

 

  .container {
    margin: 5%;
    padding: 5% 0%;

    .title {
      text-align: center;
      color: $link;
      margin-bottom: 5%;
    }

    // .inner-container {
    //   padding: 2% 5%;

    // }

    .btn-container {
      text-align: center;
      margin-bottom: 5%;
      #btn {
        text-align: center;
        padding: 5px 15px;
        background-color: $secondary-color;
        color: $link;
        border-radius: 10px;
        font-size: 20px;
      }
    }

    // .title-container{
    //   margin-top: 10px;
    // }

    div {

      .result-placeholder{
        text-align: center;
        color: $link;
        font-size: 35px;
      }
      #result-title {
        text-align: center;
        color: $Extra;
        font-size: 25px;
        margin-bottom: 5%;
      }

      div {
        .text {
          text-align: center;
          color: $link;
          line-height: 2;
          padding: 0% 5%;
        }
      }

      div {
        margin-top: 5%;
        text-align: center;
        img {
          border-radius: 20px;
          width: 50%;
          border: 2px solid $link;
          padding: 6px;
        }
      }
    }
  }

  // mobile



}



@include mediaquery(phone){
  #menu-items.show{
    width: 100%;
    display: flex;
    flex-direction: column;

  }
}